IMAP_HOST=mail.appelo.nl
IMAP_PORT=993
IMAP_USER=dmarc@appelo.nl
IMAP_PASSWORD=
IMAP_REPORTS_FOLDER=INBOX
IMAP_ARCHIVE_FOLDER=Processed

DB_HOST=localhost
DB_PORT=5432
DB_NAME=dmarc
DB_USER=dmarc
DB_PASSWORD=

DMARC_OFFLINE=true
